a[type="application/pdf"]::after,
a[href$=".pdf"]::after { 
    content: " (PDF)";
    font-size: xx-small;
}

a[href*="youtube.com"]::after { 
    content: " (YouTube)";
    font-size: xx-small;
}


h1 a{
    text-decoration: none;
    color: black;
}

#suggestions {
    display: inline;
}

#suggestions ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#suggestions ul li{
    display: inline;
}

h2 {
    display: inline;
}

#results a {
    display: inline;
}

#results > ul {
    list-style-type: none;
}

#results > ul li {
    padding: 10px 0;
}

span.highlight {
    background-color: #ffbebe;
}